@import '~bootstrap/scss/bootstrap';

$modal-bg-clr: rgb(70, 71, 82);


body {
  background-color: black;
}

.modal-content {
  border-radius: 25px;
}

.modal-body {
  background-color: $modal-bg-clr;
}

.modal-header {
  background-color: $modal-bg-clr;
}

.modal-footer {
  background-color: $modal-bg-clr;
}

#app-tabs li .active button { 
  border-color: rgb(145, 145, 145);
  border-bottom-color: transparent; 
  background-color:Yellow;
  border-radius: 25px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #4a68b6;
  color: rgb(213, 213, 213);
  border: none;
}

.nav-item:hover {
  background-color: #394157;
}

.nav-link:hover {
  color: rgb(213, 213, 213);
  border: none;
}

.nav-link {
  background-color: #4a68b6;
  color: rgb(213, 213, 213); 
}

.dropdown-item:hover {
  background-color: #4a68b6;
}

.coin-logo {
  height: 15px;
}

.dropdown-menu {
  background-color: rgb(46, 46, 46);
  color: rgb(213, 213, 213);
}

.nav-link.active {
  color: rgb(213, 213, 213);
}

a .nav-link .dropdown-toggle {
  color: rgb(213, 213, 213);
}

#user-account-text {
  background-color: black;
}
.table {
  color: rgb(213, 213, 213);
}

.card-img-top {
    width: 65%;
    height: 10vw;
    object-fit: cover;
}

#sign-out-btn {
  background-color: #4a68b6;
  border: none;
}

#sign-out-btn:hover {
  background-color: #587edd;
}