@import '~bootstrap/scss/bootstrap';

$modal-bg-clr: rgb(43, 53, 78);
$bg-color: rgb(35, 40, 51);
$bg-card: #474a63;

body {
  background-color: $bg-color;
}

.modal-content {
  border-radius: 25px;
}

.modal-body {
  background: rgb(31,56,120);
  background: linear-gradient(0deg, rgba(31,56,120,1) 0%, rgba(56,85,159,1) 50%, rgba(86,116,195,1) 100%);
}

.modal-header {
  background-color: $modal-bg-clr;
}

.bg-card {
  background-color: $bg-card;
}

.modal-footer {
  background-color: $modal-bg-clr;
}




.pagination > li > a {
  background-color: #495057;
  color: #b5b5b5;
  border: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: #e3e3e3;
  background-color: #4967b3;
}

.pagination > .active > a
{
  color: white;
  background-color: #6179c9;
  border: none;
}

.pagination > .active > a:hover
{
  background-color: $bg-color;
}




#app-tabs li .active button { 
  border-color: rgb(145, 145, 145);
  border-bottom-color: transparent; 
  background-color:Yellow;
  border-radius: 25px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #4a68b6;
  color: rgb(213, 213, 213);
  border: none;
}

.nav-item:hover {
  background-color: #394157;
}

.nav-link:hover {
  color: rgb(213, 213, 213);
  border: none;
}

.nav-link {
  background-color: #4a68b6;
  color: rgb(213, 213, 213); 
}

.dropdown-item:hover {
  background-color: #4a68b6;
}

.coin-logo {
  height: 15px;
}

.dropdown-menu {
  background-color: rgb(46, 46, 46);
  color: rgb(213, 213, 213);
}

.nav-link.active {
  color: rgb(213, 213, 213);
}

a .nav-link .dropdown-toggle {
  color: rgb(213, 213, 213);
}

#user-account-text {
  background-color: $bg-color;
}
.table {
  color: rgb(186, 186, 186);
  // width: 1200px;
}

.col-name {
  width: 250px;
}

.text-table {
  color: rgb(186, 186, 186);
}

.card-img-top {
    width: 65%;
    height: 10vw;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px rgb(69, 69, 69));
}

@media screen and (max-width: 1200px) {
  .card-img-top {
    width: 65%;
    height: 20vw;
    object-fit: cover;    
  }
  .table {
    width: 1000px;
  }
} 

@media screen and (max-width: 800px) {
  .card-img-top {
    width: 65%;
    height: 25vw;
    object-fit: cover;    
  }
} 

@media screen and (max-width: 500px) {
  .card-img-top {
    width: 65%;
    height: 50vw;
    object-fit: cover;    
  }
} 

.card-img-header {
    width: 50%;
    height: 20vw;
}

#sign-out-btn {
  background-color: #4a68b6;
  border: none;
}

#sign-out-btn:hover {
  background-color: #587edd;
}

#sign-in-btn {
  background-color: #4a68b6;
  border: none;
}

#sign-in-btn:hover {
  background-color: #587edd;
}

#next-page {
  background-color: #4a68b6;
  border: none;
}

#next-page:hover {
  background-color: #587edd;
}

#previous-page {
  background-color: #4a68b6;
  border: none;
}

#previous-page:hover {
  background-color: #587edd;
}

.forms-bg {
  background: rgb(31,56,120);
  background: linear-gradient(0deg, rgba(31,56,120,1) 0%, rgba(56,85,159,1) 50%, rgba(86,116,195,1) 100%);
} 

.table td {
  padding: 20px;
  height: 40px;
  font-size: .875rem;
  vertical-align: middle;
}

// table {
//     border-collapse: collapse;
//     text-indent: initial;
//     border-spacing: 2px;
// }
